/* src/styles/UploadVideo.css */

/* Reset default margins and paddings */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #c7eeec;
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Center content vertically and horizontally */
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  padding: 20px;
  box-sizing: border-box;
}

/* Container for the upload form */
.upload-container {
  width: 100%;
  max-width: 600px; /* Adjust max width as needed */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center contents */
}

/* Style for the form inside upload-container */
.upload-form {
  width: 100%;
}

.upload-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.upload-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.upload-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.upload-form input[type="text"],
.upload-form input[type="file"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.upload-form .btn-primary {
  width: 100%;
  background-color: #084c94;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}

.upload-form .btn-primary:hover {
  background-color: #0056b3;
}

/* Style for the uploaded videos section */
.uploaded-videos {
  margin-top: 20px;
}

.uploaded-videos h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.uploaded-videos .table {
  width: 100%;
  border-collapse: collapse;
}

.uploaded-videos .table th,
.uploaded-videos .table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.uploaded-videos .table th {
  background-color: #f2f2f2;
}

.uploaded-videos .table video {
  width: 100%;
  max-width: 320px;
  height: auto;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Adjust as needed */
}

.button-space {
  width: 20px; /* Adjust the width of the space */
}
